<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ejoy.tool">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
                     tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
                     tools:ignore="ProtectedPermissions"/>
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 往SDCard读数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="name,theme,label,icon,allowBackup">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.ToastActivity" />
        <activity android:name=".ui.activity.IScrollViewActivity" />
        <activity android:name=".ui.activity.popupwindow.IPopupwindowFilterActivity"
            android:hardwareAccelerated="false"/>

        <activity android:name=".ui.activity.bezer.BezierActivity"
            android:hardwareAccelerated="false"/>
        <activity android:name=".ui.activity.IArcLayoutActivity"/>
        <activity android:name=".ui.activity.BannerActivity"/>
        <activity android:name=".ui.activity.compress.IBitmapMultiChoiceActivity"/>
        <activity android:name=".ui.activity.compress.PreviewImageActivity"/>
        <activity android:name=".ui.activity.compress.IBitmapSingChoiceActivity"/>
        <activity android:name=".ui.activity.compress.IBitmapSystemSingleCompressActivity"/>
        <activity android:name=".ui.activity.iosdialog.IIosDialogActivity"/>
        <activity android:name=".ui.activity.loading.ILoadingActivity"/>
        <activity android:name=".ui.activity.picker.ITimeDateOrActivity"/>
        <activity android:name=".ui.activity.picker.ICitySelectActivity"/>
        <activity android:name=".ui.activity.picker.ICitypickerListActivity"/>
        <activity android:name=".ui.activity.picker.ICitypickerWheelActivity"/>
        <activity android:name=".ui.activity.picker.ICitypickerThreeListActivity"/>
        <activity android:name=".ui.activity.picker.IThreeProvinceActivity"/>
        <activity android:name=".ui.activity.picker.IThreeCityActivity"/>
        <activity android:name=".ui.activity.picker.IThreeAreaActivity"/>
        <activity android:name=".ui.activity.picker.ICitypickerJDActivity"/>
        <activity android:name=".ui.activity.device.DeviceToolActviity"/>
        <activity android:name=".ui.activity.refresh.IRefreshActivity"/>
        <activity android:name=".ui.activity.refresh.IRefreshSmartActivty"/>
        <activity android:name=".ui.activity.refresh.IRefreshVideoActivty"
            android:hardwareAccelerated="false"/>


        <!--FileProvider共享文件-->
        <provider
            android:name=".common.provider.ImageProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

    </application>

</manifest>