<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ejoy.tool">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
                     tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
                     tools:ignore="ProtectedPermissions"/>
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 往SDCard读数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- Android Q新增权限，允许应用在后台发起定位，如应用target为Q，请添加此权限 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!--如果设置了target >= 28 如果需要启动后台定位则必须声明这个权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 通过GPS得到精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 通过网络得到粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 访问网络，某些位置信息需要从网络服务器获取 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问WiFi状态，需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 修改WiFi状态，发起WiFi扫描, 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 访问网络状态, 检测网络的可用性，需要网络运营商相关信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 访问手机当前状态, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="name,theme,label,icon,allowBackup">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.ToastActivity" />
        <activity android:name=".ui.activity.IScrollViewActivity" />
        <activity android:name=".ui.activity.popupwindow.IPopupwindowFilterActivity"
            android:hardwareAccelerated="false"/>

        <activity android:name=".ui.activity.bezer.BezierActivity"
            android:hardwareAccelerated="false"/>
        <activity android:name=".ui.activity.IArcLayoutActivity"/>
        <activity android:name=".ui.activity.BannerActivity"/>
        <activity android:name=".ui.activity.compress.IBitmapMultiChoiceActivity"/>
        <activity android:name=".ui.activity.compress.PreviewImageActivity"/>
        <activity android:name=".ui.activity.compress.IBitmapSingChoiceActivity"/>
        <activity android:name=".ui.activity.compress.IBitmapSystemSingleCompressActivity"/>
        <activity android:name=".ui.activity.iosdialog.IDialogActivity"/>
        <activity android:name=".ui.activity.iosdialog.IIosDialogActivity"/>
        <activity android:name=".ui.activity.loading.ILoadingActivity"/>
        <activity android:name=".ui.activity.picker.ITimeDateOrActivity"/>
        <activity android:name=".ui.activity.picker.ICitySelectActivity"/>
        <activity android:name=".ui.activity.picker.ICitypickerListActivity"/>
        <activity android:name=".ui.activity.picker.ICitypickerWheelActivity"/>
        <activity android:name=".ui.activity.picker.ICitypickerThreeListActivity"/>
        <activity android:name=".ui.activity.picker.IThreeProvinceActivity"/>
        <activity android:name=".ui.activity.picker.IThreeCityActivity"/>
        <activity android:name=".ui.activity.picker.IThreeAreaActivity"/>
        <activity android:name=".ui.activity.picker.ICitypickerJDActivity"/>
        <activity android:name=".ui.activity.device.DeviceToolActviity"/>
        <activity android:name=".ui.activity.refresh.IRefreshActivity"/>
        <activity android:name=".ui.activity.refresh.IRefreshSmartActivity"/>
        <activity android:name=".ui.activity.refresh.IRefreshVideoActivity"
            android:hardwareAccelerated="false"/>
        <activity android:name=".ui.activity.bottomsheet.IBottomSheetActivity"/>
        <activity android:name=".ui.activity.bottomsheet.ICustomBottomSheetActivity"
            android:theme="@style/ICustomBSAppTheme"/>
        <activity android:name=".ui.activity.bottomsheet.IGFBottomSheetActivity"/>
        <activity android:name=".ui.activity.popupwindow.IPopupwindowActivity"/>
        <activity android:name=".ui.activity.popupwindow.IPopupWindowPopmenuActivity"/>
        <activity android:name=".ui.activity.popupwindow.IPopupwindowUseActivity"/>
        <activity android:name=".ui.activity.popupwindow.ICookieBarActivity"/>
        <activity android:name=".ui.activity.popupwindow.IPopupwindowTopEditActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="screenSize|screenLayout|navigation"/>
        <activity android:name=".ui.activity.popupwindow.IWBAlbumActivity"
            android:configChanges="screenSize|screenLayout|navigation"/>
        <!--BottomSheetRecycler-->
        <activity android:name=".ui.activity.bottomsheet.IBottomSheetRecyclerActivity"
            android:configChanges="screenSize|screenLayout|navigation"/>
        <activity android:name=".ui.activity.bottomsheet.IBottomShhetScrollActivity"
            android:configChanges="screenSize|screenLayout|navigation"/>
        <activity android:name=".ui.activity.iosdialog.IDialogBottomsheetActivity"
            android:configChanges="screenSize|screenLayout|navigation"/>
        <activity android:name=".ui.activity.AboutMeActivity"
            android:configChanges="screenSize|screenLayout|navigation"/>
        <activity android:name=".ui.activity.refresh.IRefreshHeaderAndFooterActivity"
            android:configChanges="screenSize|screenLayout|navigation"/>
        <activity android:name=".ui.activity.textview.ITextViewActivity"
            android:configChanges="screenSize|screenLayout|navigation"/>
        <activity android:name=".ui.activity.more_detail.IAllViewShowActivity"
            android:configChanges="screenSize|screenLayout|navigation"/>
        <activity android:name=".ui.activity.more_detail.ITopBarColorChangeActivity"
            android:configChanges="screenSize|screenLayout|navigation"/>


        <!--FileProvider共享文件-->
        <provider
            android:name=".common.provider.ImageProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>



        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <!--腾讯升级界面-->
        <provider
            android:name=".app.bugly.BuglyFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="name,resource" />
        </provider>

        <meta-data android:name="TencentMapSDK" android:value="B7NBZ-75Z3U-YVJVY-27C32-6D5AE-JIFLI" />

    </application>

</manifest>